{% extends 'vet/base.html'  %}

{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About Us</li>
        </ol>
        <h2>About Us</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'vet/assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Soin Veterinary Services</h3>
             <p class="font-italic">
              Welcome to Soin Veterinary. We provide an ideal environment for both veterinary professionals and farmers to save their records. Our clients' satisfaction is our priority. The records saved are accessible at your own convenient time and designed in PDF format for printing.

Our system is incorporated with learning sections where veterinary practitioners and farmers learn at their own pace.

Your information is safe and only maintained as per the terms of service and privacy policy.

            </p> 
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    
    <!-- ======= Clients Section ======= -->
    

    <!-- ======= Testimonials Section ======= -->

  </main><!-- End #main -->

{% endblock content %}  
