<footer id="footer">

    {% comment %} <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>For latest updates on farming</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
              <h4>Quick Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href={% url 'services' %}>Veterinary practitioners portal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={% url 'services' %}>Vet pharmaceutical services portal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={% url 'services' %}>Dairy cooperative services portal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={% url 'services' %}>County vet Services Portal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={% url 'services' %}>Farmer Portal</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Olchobosei Market,<br>
              SOIN VETERINARY <br>
              Along Ndanai - Kilgoris Road <br>
              Kenya <br><br>
              <strong>Phone:</strong> +254727091292<br>
              <strong>Email:</strong> services@soinvet.com <br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About SoinVet</h3>
            <p>At SoinVet we are passionate about our services and we are on a mission to inspire vets to provide the highest possible standard of  animal’s health under their care..</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SoinVet</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a>ishasir</a>
      </div>
    </div>
  </footer><!-- End Footer -->
